<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dosecerta.medicamentosapp">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicamentosApp.NoActionBar">

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CORRIGIDO: Inclua android:exported="true" e intent-filter se esta for sua MAIN -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <!-- Se MainActivity for a tela inicial, adicione o intent-filter abaixo;
                 caso contrário, remova o intent-filter e mantenha apenas exported -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity android:name=".CadastroMedicamentoActivity" android:exported="false"/>
        <activity android:name=".CadastroUsuarioActivity" android:exported="false"/>
        <activity android:name=".MedicamentosActivity" android:exported="false"/>
        <activity android:name=".DetalhesMedicamentoActivity" android:exported="false"/>
        <activity android:name=".PerfilActivity" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>